/* Padding below the footer and lighter body text */
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

/* Navbar custom css*/
.fa-graduation-cap{
  padding-left:1rem;
  padding-right:2rem;
}
.navbar-nav > li{
  margin-left:2rem;
  margin-right:2rem;
  font-size: 1.2rem ;
}

/* Resize main image */
.img {
  max-height:500px;
  width: 100%;
  height: auto;
}

/* Jumbotrons custom css*/
.jumbotron .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.jumbotron h2 {
  font-weight: 300;
}
.jumbotron .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* Carousels custom css*/
.carousel-controls {
  margin-bottom: 0.75rem;
}
.card-img-top{
  display: block;
  margin:0.6rem;
  max-width:80%;
  max-height:40%;
  height: auto; 
}
.card {
  height:350px;
}
.button-carousel{
  position: absolute;
  bottom: 5%;
  left: 5%;
}
.container{
  padding-bottom: 2rem;
}